
@font-face {
    font-family: Roboto Medium; 
    src: url(../fonts/roboto/RobotoMedium.ttf);
}
@font-face {
    font-family: Roboto Regular; 
    src: url(../fonts/roboto/RobotoRegular.ttf); 
}
@font-face {
    font-family: Roboto Myriad Pro;
    src: url(../fonts/roboto/MyriadProRegular.otf); 
}

.logo{
	width:170px;
	float:left;	
}
.logo img{
	width:130px;
}
/*----------------menu----------------*/
.menu{
	width:530px;
	float:left;
	font-family: Roboto Medium;
	display:block;
}

.ul_menu{	
	position:relative;
	background-color: #22314b;
	list-style-type:none;
	margin-top: 17px;
}

.ul_menu img{
	margin-left:7px;
}

.ul_menu a{
	width:160px;
	display:block;
	color: #ffffff;
	text-decoration:none;
}

.ul_menu a:hover{
	color: #ee602a;
}

.ul_menu > li{
	display:inline-block;
}

.category_one{
	background-color: #22314b;
	font-family: Roboto Regular; 
	font-size:14px;
	position: absolute;
	list-style-type:none;
	padding: 20px 32px 26px 13px;
	left: 27px;
	display:none;
	z-index:10;
}

.category_one li{
	margin-bottom: 15px;
}

.ul_menu > li:hover .category_one{
	display:block;
	animation: ShowMenu 0.5s;
	animation-fill-mode: forwards;
}

@keyframes ShowMenu {

    0% {		
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/*----------------search----------------*/
.search{
	font-family:Roboto Regular;
	width:270px;
	float:left;
	margin-top: 7px;
    font-size: 16px;
}

.search input {
	color: #ffffff;
	background-color: #22314b;
    border: none;
    border-bottom: 1px solid white;
	outline:none;
	width:240px;
}

.search img{
	width:24px;
	margin-bottom: -5px;
}
/*---------------------------------------------*/
.contacts{
	float: right;
	width: 150px;
}
.social{
	text-align:right;
}
.social img {
	width:23px;
	margin-left:8px;
	margin-bottom:13px;
}
.phone{
	font-family:Myriad Pro;
	color: #ffffff;
	text-align:right;
	font-size:14px;
}

@media (max-width:1205px){
	.menu{
		display:none;
	}
}

@media (max-width:770px){
	.contacts{
		display:none;
	}
	.search{
		width:auto;
		float:right;
	}
	.search input{
		width:82%;
	}
}
